ul {
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
  overflow: hidden;
  
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
li {
  float: right;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  
}
img{
width:200px;
height:200px;
padding-left:20px;
padding-bottom: 30px
}
p{
text-align:centeR;
}
.footer {
    border: 1px solid black;  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black
    text-align:center;
}
.iimg{
	position:center;
	height:250px;
	width:400px;
	
}
